
.text-size-20 {
    font-size: 20px !important;
}

.text-size-24 {
    font-size: 24px !important;
}

.text-size-48 {
    font-size: 48px !important;
}

@each $textColorsMap, $value in $textColorsMap {
  .text-#{$textColorsMap} {
    color: #{$value} !important;
  }
}

.text-success-message {
    color: var(--success-message) !important;
}

.text-error-message {
    color: var(--error-message) !important;
}

.text-action-light-solid {
    color: #292524 !important;
}

.text-inherit {
  color: inherit;
  &:hover {
    color: $theme-color;
  }
}

a.text-theme,
.text-reset {
  &:hover {
    text-decoration: underline;
  }
}