@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-LightItalic.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-BlackItalic.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-MediumItalic.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-Italic.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-Regular.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-Thin.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-ThinItalic.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-Medium.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-Light.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-Black.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-ExtraBold.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-Bold.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-BoldItalic.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Creato Display';
  src: url('../fonts/creato/CreatoDisplay-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/creato/CreatoDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

