/* Bloque principal */

.landing-bs {
    margin-bottom: 64px;
}

.landing-bs > * + * {
    margin-top: 48px;
}

.hero-bs {
    color: #fff;
    padding-block: 48px;
}

.hero-bs__container {
    max-width: 1200px;
}

.hero-bs__row {
    display: flex;
    gap: 48px;
}

/* Contenido izquierdo */
.hero-bs__content {
    display: flex;
    flex-direction: column;
}

.hero-bs__content > * + * {
    margin-top: 32px;
}

.hero-bs__title {
    color: white;
    font-size: 60px;
    margin-bottom: 0;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 72px;
    letter-spacing: -2px;
}

@media (min-width: 768px) {
    .hero-bs__title {
    }
}

.hero-bs__benefits {
    margin-bottom: 0;
}

.hero-bs__benefits > * + * {
    margin-top: 12px;
}

.hero-bs__benefit {
    font-size: 1rem;
    gap: 4px;
    color: #ccc;
}

.hero-bs__icon {
    flex-shrink: 0;
    font-size: 1.2rem;
    color: #f6a20e; /* Amarillo de acento */
}

.hero-bs__text {
    color: #A8A29E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word
}

.hero-bs__btn {
    display: inline;
}

/* Media */
.hero-bs__media {
    text-align: center;
}

.hero-bs__media-wrapper {
    width: 600px;
    height: 496px;
}

.hero-bs__image {
    display: block;
    width: 100%;
    height: auto;
}

/* =========================================================
   Verified Section (Over $70 Million Verified Payouts)
   ========================================================= */

.verified-bs {
    text-align: center;
    overflow: hidden;
}

.verified-bs__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--space-md);
}

/* Header / Title / Subtitle */


.verified-bs__title {
    color: white;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 48px;
    word-wrap: break-word;
    margin-bottom: 0;
}

.verified-bs__title span {
    color: var(--Surface-Primary);
}

.verified-bs__subtitle {
    max-width: 760px;
    text-align: center;
    color: var(--body-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
}

.verified-bs__cards .verified-bs__swiper {
    margin-top: 32px;
    --swiper-pagination-bullet-inactive-opacity: 0.40;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-color: white;
    --swiper-pagination-top: auto;
    --swiper-pagination-bottom: auto;
}

.verified-bs__cards .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    padding-block: 8px;
    gap: 8px;
    margin-block: 16px;
}