html {
    margin: 0 !important;
}

#wpadminbar {
    top: 0 !important;
    position: fixed;
}

.mt-navbar {
    z-index: 1001;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .mt-navbar {
        margin-bottom: 14px;
    }
}

body.admin-bar {
    padding-top: var(--admin-bar-height, 32px);
}

.admin-bar .mt-navbar {
    top: var(--admin-bar-height, 32px);
}

.mt-navbar__wrapper {
    width: 100%
}

.mt-navbar__promo {
}

.mt-navbar__links {
    z-index: 50;
    display: flex;
    height: 90px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #FFB34A;
    transition: background 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

@media (max-width: 1024px) {
    .mt-navbar__links:not(&.mt-navbar__links--scrolled) {
        background: var(--black-color);
    }
}

.mt-navbar__links--scrolled {
    background: rgba(18, 18, 18, 0.95);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.mt-navbar__container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    max-width: 80rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 1024px) {
    .mt-navbar__container {
        height: 100px
    }

    .mt-navbar__links {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: transparent;
        height: 100px;
    }

    .mt-navbar__links--scrolled {
        border-bottom: 1px rgba(0, 0, 0, 0.95) solid;
    }

}

@media (min-width: 1536px) {
    .mt-navbar__container {
        padding-left: 0px;
        padding-right: 0px
    }
}

.mt-navbar__logo {
    width: auto
}

.mt-navbar__logo-link {
    display: flex;
    align-items: center;
    gap: 8px
}

.mt-navbar__logo-icon {
    height: 30px;
    width: 30px
}

.mt-navbar__actions .mt-my-profile {
    gap: 7px;
}

.mt-navbar__logo-icon-bs {
    height: 40px;
    width: 40px
}

.mt-navbar__logo-text {

}

.mt-navbar__logo-text-bs {
    display: none;
}

@media (min-width: 1280px) {
    .mt-navbar__logo-link {
        gap: 16px
    }

    .mt-navbar__logo-text {
        display: block
    }

    .mt-navbar__logo-text-bs {
        display: block;
    }
}

.mt-navbar__logo-wordmark {
    height: 22px;
    width: 123px
}

.mt-navbar__logo-wordmark-bs {
    height: 30px;
    width: 167px
}

@media (min-width: 1024px) {
    .mt-navbar__actions .mt-my-profile {
        gap: 16px;
    }

    .mt-navbar__logo-icon {
        height: 60px;
        width: 60px
    }

    .mt-navbar__logo-wordmark {
        height: 45px;
        width: 250px
    }
}

.mt-navbar__nav {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

@media (min-width: 1024px) {
    .mt-navbar__nav {
        display: flex
    }
}

@media (min-width: 1280px) {
    .mt-navbar__nav {
        gap: 0.5rem
    }
}

.mt-navbar__nav-link {
    text-wrap: nowrap;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(250 250 250 / var(--tw-text-opacity, 1));
    text-decoration-line: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    border-radius: 12px;
    border: 1px solid transparent;
}

.mt-navbar__nav-link:hover {
    background-color: var(--mgt-dark)
}

.mt-navbar__nav-link--active {
    background-color: var(--mgt-dark);
}

.mt-navbar__user {
}

.mt-navbar__account {
    gap: 8px;
    display: flex;
}

.mt-navbar__account .icon-btn {
    padding: 12px;
    border-radius: 12px;
    background: #292524;
    outline: 1px solid #404040;
    outline-offset: -1px;
    border: 0;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.mt-navbar__account .icon-btn svg {
    display: block;
}

.mt-navbar__account .burger {
    display: inline-flex;
}

.mt-navbar__auth {
    display: flex;
    align-items: center;
    gap: 0.875rem
}

.mt-navbar__auth .mt-navbar__auth-link {
    padding: 10.39px 13.85px;
    background: #131210;
    border-radius: 10.39px;
    justify-content: center;
    align-items: center;
    gap: 6.93px;
    min-height: auto;
    display: inline-flex;
    border: 1px solid var(--colors-gray-700);
}

.mt-navbar__auth-link .mt-navbar__auth-link-text {
    color: #fafafa;
    font-size: 13.85px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 21px;
    word-wrap: break-word
}

.mt-menu-container__btn-burger {
    display: block;
    padding: 10.39px;
    border-radius: 10.39px;
    min-height: 40px;
}

.mt-menu-container__btn-burger::after {
    content: none;
}

/* My Account Variant */
.mt-navbar.mt-navbar--my-account {
    margin-bottom: 0;
}

.mt-navbar.mt-navbar--my-account .mt-navbar__logo-text {
    display: flex;
}

@media (max-width: 1199.98px) {
    .mt-navbar.mt-navbar--my-account .mt-navbar__auth-link {
        display: block !important;
    }

    .mt-navbar.mt-navbar--my-account .mt-navbar__container {
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 16px;
    }

    .mt-navbar.mt-navbar--my-account .mt-navbar__logo-wordmark {
        width: 167px
    }
}

@media (min-width: 1200px) {
    .mt-navbar.mt-navbar--my-account .mt-navbar__links {
        display: none;
    }
}

.mt-navbar.mt-navbar--my-account .mt-navbar__nav {
    display: none;
}

.mt-navbar__actions {
    display: flex;
    gap: 7px;
}

.mt-menu-container {
    position: relative;
}

.mt-menu-container__menu {
    position: absolute;
    background-color: white;
    bottom: 0;
}

@media (min-width: 1024px) {
    .mt-menu-container {
        display: none;
    }
}

.mt-menu-container .dropdown-menu .dropdown-item:focus-visible {
    outline: none;
}

.mt-menu-container .dropdown-menu .dropdown-item:active {
    background-color: inherit;
    color: black;
}

.mt-navbar--landing-page-bs .mt-navbar__container {
    gap: 32px;
}

