@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-shimmer {
        background-image: linear-gradient(
                90deg,
                transparent,
                rgba(255, 255, 255, 0.1),
                transparent
        );
    }

    .bg-shimmer-size {
        background-size: 200% 100%;
        background-repeat: no-repeat;
    }
}

@layer base {
    :root {
        --mgt-dark: #1e1e1e;
        --mgt-color-primary: #FFB34A;
        --mgt-color-teal: #14B8A6;
        --mgt-color-error: #FB7185;
        --mgt-color-link: #FFD78A;
        --mgt-color-link-hover: var(--mgt-color-primary);
    }
}

body {
    margin: 0;
    padding: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAiSURBVHgB7cNBDQAACMSwC07wL3IED/xYkwbonSMVSdJTA27fBj9svgvKAAAAAElFTkSuQmCC) 0% 0%/5px 5px repeat, #131210;
    color: inherit;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    overflow-x: hidden
}

body.dialog-mg-open[data-scroll-locked] {
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--total-width)));
    }
}

.animate-carousel {
    animation: carousel 120s linear infinite;
}

.animate-carousel:hover {
    animation-play-state: paused;
}

.btn-primary {
    @apply bg-[#292524] rounded-xl border border-neutral-700 h-12 px-4 py-3 text-white uppercase flex items-center;
}


.btn-link {
    @apply text-mgt-link hover:text-mgt-link-hover underline;
}

.btn-base {
    @apply uppercase flex items-center justify-center transition-colors focus:outline-none focus:ring-1 focus:ring-offset-1;
}

.btn-dark-link {
    @apply btn-base bg-stone-800 hover:bg-stone-900 border border-neutral-700 text-white focus:ring-gray-700 disabled:bg-stone-600 disabled:text-stone-800;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #F1A035 #F1A035;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.without-bg-card-onboarding {
    @apply relative after:rounded-2xl after:content-[''] after:opacity-80 after:absolute after:inset-0 after:w-full after:h-full
}

.bg-card-onboarding {
    @apply without-bg-card-onboarding after:bg-[#1E1E1E]
}

.bg-btn-onboarding {
    @apply relative after:rounded-[0.75rem] after:content-[''] after:bg-[#1E1E1E]/80 after:absolute after:inset-0 after:w-full after:h-full
}

.apexcharts-xaxis-label-custom {
    fill: white;
    width: 36px;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", serif;
    font-weight: 500;
    line-height: 24px;
    background-color: red;
    word-wrap: break-word
}

.apexcharts-series path:hover {
    fill: #78716C !important;
}

path.apexcharts-bar-area[selected=true] {
    fill: #10B981;
}

.window-custom-shape {
    clip-path: polygon(89% 0, 100% 0%, 100% 100%, 38% 100%)
}

.bg-visits {
    @apply bg-blue-500
}

.bg-conversions {
    @apply bg-teal-500
}

.header-shadow {
    -webkit-filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
    -webkit-backdrop-filter: blur(64px);
    backdrop-filter: blur(64px);
    background-color: hsla(0, 0%, 7%, 0.8);
    -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(64px);
}