
.custom-intro-tooltip {
    background: #14120f;
    color: white !important;
    max-width: 400px;
    border-radius: 12px !important;
    padding: 16px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3) !important;
    border: 1px #404040 solid;
    gap: 8px;
    display: grid !important;
}

.custom-intro-tooltip .introjs-tooltip-header {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.custom-intro-tooltip .introjs-tooltip-header .introjs-skipbutton {
    display: none;
}

.custom-intro-tooltip .introjs-tooltip-title {
    align-self: stretch;
    height: 24px;
    position: relative;
    color: white;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word
}

.custom-intro-tooltip .introjs-tooltipbuttons {
    border-top: none;
    padding: 0px;
}

.custom-intro-tooltip .introjs-tooltiptext {
    align-self: stretch;
    position: relative;
    color: #A8A29E;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 24px;
    padding: 0px;
    word-wrap: break-word
}

.custom-intro-tooltip .introjs-tooltiptext .intro-content p {
    max-width: 368px;
}

.introjs-arrow {
    width: 38px;
    height: 14px;
    background-size: cover; /* Asegura que la imagen ocupe todo el contenedor */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen correctamente */
    position: absolute;
    display: block;
}

.introjs-arrow.top,
.introjs-arrow.top-middle {
    background-image: url('/assets/images/arrows/arrow-top.svg');
    bottom: 100%; /* Coloca la flecha arriba del elemento */
    left: 50%;
    top: -13px;
    transform: translateX(-50%);
    border-bottom-color: transparent;
}

.introjs-arrow.bottom-middle,
.introjs-arrow.bottom {
    background-image: url('/assets/images/arrows/arrow-bottom.svg');
    bottom: -13px;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    border-top-color: transparent;
}

.introjs-button {
    background-color: #14120f;
    padding: 12px;
    width: 24px;
    height: 24px;
    display: grid;
    gap: 8px;
    border: none;
}

.introjs-button.introjs-disabled .custom-intro-button {
    color: #57534E;
}

.introjs-button:focus, .introjs-button:active {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.introjs-button:hover {
    background-color: transparent;
}


.custom-prev, .custom-next, .custom-prev-mirror, .custom-next-mirror {
    color: white;
}

.custom-intro-controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 9999;
}

.custom-intro-controls button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-intro-controls button:hover {
    background: #0056b3;
}

.introjs-tooltipbuttons {
    display: none;
}

/*.introjs-tooltipReferenceLayer {*/
/*    z-index: 49 !important;*/
/*}*/

.introjs-showElement {
    z-index: 49 !important;
}