@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-roboto: 'Roboto', sans-serif;
        --mgt-dark: #1e1e1e;
        --mgt-color-primary: #FFB34A;
        --mgt-color-teal: #14B8A6;
        --mgt-color-error: #FB7185;
        --mgt-color-link: #FFD78A;
        --mgt-color-link-hover: var(--mgt-color-primary);
    }
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

body {
    font-family: var(--font-roboto), sans-serif;
    margin: 0;
    padding: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAiSURBVHgB7cNBDQAACMSwC07wL3IED/xYkwbonSMVSdJTA27fBj9svgvKAAAAAElFTkSuQmCC) 0% 0%/5px 5px repeat, #131210;
    color: inherit;
    font-weight: 400;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    overflow-x: hidden
}

/* Container base */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    @apply tw-w-full tw-px-3 tw-mx-auto;
    /* px-3 = 0.75rem ≈ calc(1.5rem * 0.5) */
}

/* Breakpoints */
@screen sm {
    .container,
    .container-sm {
        max-width: 540px;
    }
}

@screen md {
    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}

@screen lg {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}

@screen xl {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

@screen 2xl {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

.container {
    width: 100% !important;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* Mobile >768px */
@media (max-width: 767.98px) {
    .container {
        max-width: 540px !important;
    }
}

/* Laptop fluido hasta 1279px */
@media (min-width: 768px) and (max-width: 1279.98px) {
    .container {
        max-width: 100% !important;
    }
}

/* Desktop fijo (1280px en adelante) */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px !important;
    }
}

.btn-base {
    @apply tw-uppercase tw-no-underline tw-flex tw-items-center tw-justify-center tw-transition-colors focus:tw-outline-none focus:tw-ring-1 focus:tw-ring-offset-1;
}

.btn-dark-link {
    @apply btn-base tw-bg-stone-800 hover:tw-bg-stone-900 tw-border tw-border-neutral-700 tw-text-white focus:tw-ring-gray-700 disabled:tw-bg-stone-600 disabled:tw-text-stone-800;
}

.btn-yellow-link {
    @apply btn-base tw-w-full md:tw-w-auto tw-text-base tw-font-medium tw-leading-normal tw-bg-primary hover:tw-bg-yellow-600 tw-text-black focus:tw-ring-primary disabled:tw-bg-stone-600 disabled:tw-text-stone-800;
}

.variant-style-primary-filled {
    @apply tw-bg-primary hover:tw-bg-yellow-600 tw-text-black focus:tw-ring-primary disabled:tw-bg-stone-600 disabled:tw-text-stone-800;
}

.variant-style-primary-text {
    @apply tw-text-primary hover:tw-text-yellow-600 hover:tw-bg-yellow-100 focus:tw-ring-primary;
}

.size-style-md {
    @apply tw-py-3 tw-text-base tw-font-medium tw-leading-normal tw-rounded-xl tw-px-4;
}

.size-style-sm {
    @apply tw-py-1 tw-text-xs tw-font-medium tw-leading-tight tw-rounded tw-w-5 tw-h-5 tw-px-4;
}

.btn-primary-filled {
    @apply btn-base size-style-md variant-style-primary-filled tw-bg-primary hover:tw-bg-yellow-600 tw-text-black focus:tw-ring-primary disabled:tw-bg-stone-600 disabled:tw-text-stone-800;
}

.btn-primary-text {
    @apply btn-base size-style-md variant-style-primary-text tw-bg-transparent tw-text-primary hover:tw-text-yellow-600 hover:tw-bg-yellow-100 focus:tw-ring-primary;
}

.mgt-card {
    @apply tw-p-4 tw-bg-mgt-dark tw-border tw-border-transparent tw-rounded-2xl;
}

.badge-base {
    @apply tw-text-[#131210] tw-leading-normal tw-font-bold tw-uppercase tw-justify-center tw-items-center tw-gap-2.5 tw-inline-flex;
}

.badge-rounded-sm {
    @apply tw-rounded tw-h-6 tw-px-2 tw-py-1 tw-text-sm;
}

.badge-secondary-sm {
    @apply badge-base badge-rounded-sm;
}

.badge-secondary-sm {
    @apply badge-base badge-rounded-sm;
}

#slider-mgt {
    height: 4px;
}

#slider-mgt .noUi-connect {
    @apply tw-bg-primary;
}

#slider-mgt .noUi-connects {
    @apply tw-bg-neutral-700;
}

#slider-mgt.noUi-target {
    @apply tw-border-none tw-shadow-none;
}

#slider-mgt .noUi-marker {
    @apply tw-hidden;
}

#slider-mgt .noUi-pips > .noUi-value {
    @apply tw-text-base tw-text-stone-400 tw-leading-none tw-font-medium tw-uppercase;
}

#slider-mgt .noUi-pips > .noUi-value.active-pip {
    @apply tw-text-primary;
}

#slider-mgt .noUi-pips-horizontal {
    @apply tw-h-auto;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide-strict {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
}

.scrollbar-hide::-webkit-scrollbar,
.scrollbar-hide-strict::-webkit-scrollbar {
    display: none;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--total-width)));
    }
}

.animate-carousel {
    animation: carousel 120s linear infinite;
}

.animate-carousel:hover {
    animation-play-state: paused;
}

.wrapper-point::after {
    content: ' ';
    background-color: #FFB34A;
    width: 14px;
    height: 14px;
    position: absolute;
    border-radius: 100%;
    transform: translateY(12px);
}

.wrapper-timeline .vertical-line-timeline::after {
    content: " ";
    width: 2px;
    z-index: -2;
    top: 26px;
    bottom: 0;
    position: absolute;
    background: #ffb34a;
}

.wrapper-timeline .vertical-line-timeline-before::before {
    content: " ";
    width: 2px;
    z-index: -2;
    top: 26px;
    bottom: 0;
    position: absolute;
    background: #ffb34a;
}

.last-timeline-point::before {
    content: ' ';
    width: 2px;
    height: 14px;
    background: #ffb34a;
    position: absolute;
    top: -14px;
    right: 6px;
}

.opt-active > .checkbox-custom {
    @apply tw-bg-primary;
}

.tw-peer:checked ~ .peer-checked\:tw-outline-primary .box-checked {
    @apply tw-bg-primary;
    content: '';
    background-image: url(/wp-content/themes/megatrader-addons/assets/img/checked.svg);
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: right;
}

.account-type {
    @apply tw-cursor-pointer tw-bg-transparent tw-outline tw-outline-2 tw-outline-offset-[-2px] tw-outline-neutral-700;
}

.account-type.account-active {
    @apply tw-bg-primary tw-outline-none;
}

.mgt-input {
    @apply tw-h-12 tw-px-4 tw-py-3 read-only:tw-bg-stone-600 tw-bg-[#1e1e1e]/70 disabled:tw-bg-stone-600 disabled:tw-text-stone-400 placeholder:tw-text-neutral-700 tw-rounded-xl tw-border tw-w-full tw-font-medium focus:tw-border-transparent tw-text-base focus:tw-outline-none focus:tw-ring-1 hover:tw-border-white;
}

.mgt-input-ok {
    @apply tw-text-stone-400 tw-border-neutral-700 focus:tw-ring-mgt-primary;
}

.mgt-input-error {
    @apply tw-ring-1 tw-ring-red-500 tw-text-red-500 tw-border-transparent placeholder:tw-text-rose-500;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #F1A035 #F1A035;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.with-scroll-bars-hidden {
    overflow: hidden !important;
    padding-right: 0px !important;
}

body[data-scroll-locked] {
    overflow: hidden !important;
    overscroll-behavior: contain;
    position: relative !important;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0px !important;

}

.right-scroll-bar-position {
    right: 0px !important;
}

.width-before-scroll-bar {
    margin-right: 0px !important;
}

.right-scroll-bar-position .right-scroll-bar-position {
    right: 0 !important;
}

.width-before-scroll-bar .width-before-scroll-bar {
    margin-right: 0 !important;
}

body[data-scroll-locked] {
    --removed-body-scroll-bar-size: 0px;
}

.price-table {
    @apply tw-space-y-2 md:tw-space-y-0 md:tw-grid md:tw-grid-cols-2 lg:tw-grid-cols-[1fr_1fr_1fr_1fr] lg:tw-items-center tw-mb-4;
}

.price-table__plan {
    @apply tw-box-border tw-w-full;
}

.price-table__plan--most-popular {
    @apply tw-bg-[#131210] tw-pb-8 tw-flex tw-flex-col tw-border-2 tw-border-primary tw-rounded-2xl;
}

.price-table__plan--regular-plan {
    @apply tw-bg-mgt-dark tw-border-t-2 tw-border-b-2 tw-border-stone-800 tw-px-0 first:tw-rounded-tl-2xl first:tw-rounded-bl-2xl first:tw-border-l-2 last:tw-rounded-tr-2xl last:tw-rounded-br-2xl last:tw-border-r-2;
}

.price-table__size {
    @apply tw-px-4  tw-bg-[#131210];
}

.price-table__plan--most-popular .price-table__size {
    @apply tw-py-6 tw-flex tw-flex-col tw-space-y-2 tw-rounded-[inherit];
}

.price-table__plan--regular-plan .price-table__size {
    @apply tw-py-6 tw-uppercase tw-text-white tw-font-medium first:tw-rounded-tl-[inherit] tw-rounded-tr-[inherit];

    .price-table__most-popular-badge {
        @apply tw-hidden;
    }
}