.woocommerce-account {
    .shape-wrapper {
        display: none;
    }
}

.woocommerce-MyAccount-navigation {
    padding: 0;
    ul {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    li {
        font-size: 16px;
        padding: 0;
        line-height: 1;
        color: $body-color;
        position: relative;
        z-index: 2;
        display: inline-block;
        &.is-active {
            color: $black-color;
            border-color: $theme-color;
            font-weight: 500;
            a:hover {
                color: $black-color;
            }
        }
        &.woocommerce-MyAccount-navigation-link--edit-account,
        &.woocommerce-MyAccount-navigation-link--dashboard,
        &.woocommerce-MyAccount-navigation-link--downloads {
            display: none !important;
        }
        &.woocommerce-MyAccount-navigation-link--customer-logout {
            display: none;
            margin-top: 85px;
            a {
                &:before {
                    content: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.1559 9.625H7.12175C6.77675 9.625 6.49675 9.345 6.49675 9C6.49675 8.655 6.77675 8.375 7.12175 8.375H17.1559C17.5009 8.375 17.7809 8.655 17.7809 9C17.7809 9.345 17.5009 9.625 17.1559 9.625Z" fill="%23FF522C"/><path fill-rule="evenodd" clip-rule="evenodd" d="M14.7162 12.055C14.5562 12.055 14.3953 11.9942 14.2737 11.8708C14.0303 11.6258 14.0312 11.2308 14.2753 10.9875L16.2703 8.99999L14.2753 7.01334C14.0312 6.77 14.0295 6.375 14.2737 6.13C14.517 5.885 14.912 5.885 15.157 6.12834L17.597 8.55749C17.7153 8.67415 17.7809 8.83415 17.7809 8.99999C17.7809 9.16582 17.7153 9.32582 17.597 9.44249L15.157 11.8725C15.0353 11.9942 14.8753 12.055 14.7162 12.055Z" fill="%23FF522C"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8.43267 17.3333H4.36104C2.32437 17.3333 0.66687 15.6758 0.66687 13.6375V4.36332C0.66687 2.32499 2.32437 0.666656 4.36104 0.666656H8.4235C10.4618 0.666656 12.1202 2.32499 12.1202 4.36332V5.13999C12.1202 5.48499 11.8402 5.76499 11.4952 5.76499C11.1502 5.76499 10.8702 5.48499 10.8702 5.13999V4.36332C10.8702 3.01332 9.77267 1.91666 8.4235 1.91666H4.36104C3.01354 1.91666 1.91687 3.01332 1.91687 4.36332V13.6375C1.91687 14.9867 3.01354 16.0833 4.36104 16.0833H8.43267C9.776 16.0833 10.8702 14.99 10.8702 13.6467V12.8608C10.8702 12.5158 11.1502 12.2358 11.4952 12.2358C11.8402 12.2358 12.1202 12.5158 12.1202 12.8608V13.6467C12.1202 15.68 10.4652 17.3333 8.43267 17.3333Z" fill="%23FF522C"/></svg>');
                    margin-right: 8px;
                    vertical-align: middle;
                }
            }
            @include lg {
                margin-top: 50px;
            }
        }
        a {
            display: block;
            color: inherit;
            border: 1px solid $border-color;
            padding: 14px 16px;
            transition: 0.4s ease-in-out;
            border-radius: 12px;
            &:hover {
                color: $theme-color;
                border-color: $theme-color;
            }
        }
    }
    .woocommerce-MyAccount-navigation-link--subscriptions {
        order: -1;
    }
    .woocommerce-MyAccount-navigation-link--edit-address {
        order: 4;
    }
    li.is-active {
        a {
            color: $black-color;
            background-color: $theme-color;
            border-color: $theme-color;
        }
    }
}
.row.my-account-row {
    --bs-gutter-x: 64px;
    @include xl {
        --bs-gutter-x: 30px;
    }
}
.woocommerce-account {
    .woocommerce-MyAccount-navigation {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
}
.woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
    .button {
        display: inline-block;
        background-color: #292524;
        color: $title-color;
        font-size: 12px;
        border-radius: 5px;
        font-weight: 500;
        padding: 9px 15px;
        text-transform: uppercase;
        border: 1px solid #404040;
        &:hover {
            color: $black-color;
            background-color: $theme-color;
            border-color: $theme-color;
        }
    }
    h2 {
        font-size: 32px;
        margin: 0;
        font-weight: 500;
    }
    .woocommerce-address-fields {
        margin-top: 0;
    }
    .woocommerce-info {
        line-height: 32px;
        &:after {
            display: none;
        }
    }
    .woocommerce-Addresses {
        .col-2 {
            display: none;
        }
    }
    address {
        padding: 0;
        color: $body-color;
        font-size: 14px;
        br {
            display: block;
        }
    }
    .woocommerce-customer-details--phone {
        border-top: 1px solid $border-color;
    }
    .woocommerce-Address {
        max-width: 100%;
        width: 100%;
    }
    header {
        margin-bottom: 30px;
    }
    .woocommerce-Address-title {
        display: flex;
        align-items: center;
        gap: 10px 15px;
        margin-bottom: 30px;
        &:before,
        &:after {
            display: none;
        }
    }
    .woocommerce-column__title {
        margin-bottom: 30px;
    }
    .edit {
        padding: 13px 18px 17px 18px;
        &:before {
            content: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 18V13.75L13.2 0.575C13.4 0.391667 13.6208 0.25 13.8625 0.15C14.1042 0.05 14.3583 0 14.625 0C14.8917 0 15.15 0.05 15.4 0.15C15.65 0.25 15.8667 0.4 16.05 0.6L17.425 2C17.625 2.18333 17.7708 2.4 17.8625 2.65C17.9542 2.9 18 3.15 18 3.4C18 3.66667 17.9542 3.92083 17.8625 4.1625C17.7708 4.40417 17.625 4.625 17.425 4.825L4.25 18H0ZM14.6 4.8L16 3.4L14.6 2L13.2 3.4L14.6 4.8Z" fill="black"/></svg>');
            display: inline-block;
            margin-right: 5px;
            transform: translateY(3px);
        }
        &:hover {
            color: $black-color;
            background-color: $theme-color2;
        }
        @include xs {
            width: 100%;
        }
    }
    > .woocommerce-notices-wrapper {
        + p {
            display: none;
        }
    }
    #account_display_name {
        margin-bottom: 0 !important;
        + span {
            display: none;
        }
    }
    #add_payment_method {
        #place_order {
            float: none;
            padding: 18px 24px;
            border-radius: 12px;
            background: $theme-color;
            &:hover {
                background: $gr-bg1;
            }
        }
    }
}

.woocommerce form .show-password-input, .woocommerce-page form .show-password-input {
    position: absolute;
    right: 20px;
    top: 0.9em;
    cursor: pointer;
    z-index: 3;
}

.woocommerce .woocommerce-address-fields {
    .button {
        font-size: 16px;
        padding: 16px 20px !important;
        border-radius: 12px;
        border: none;
        background-color: $theme-color;
        color: $black-color;
        &:hover {
            background-color: $theme-color2;
        }
    }
    .form-row-first, 
    .form-row-last{
        width: 49%;
        overflow: visible;
    }
    .form-row {
        margin-bottom: 15px;
        label {
            line-height: 1.4;
            font-weight: 600;
            margin-bottom: 5px;
            .required {
                color: inherit;
            }
        }
    }
    input[type=checkbox] {
        visibility: visible;
        opacity: 1;
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
    .select2-selection__rendered {
        color: $body-color;
        font-weight: 500;
        height: 48px;
        padding: 0 20px;
    }
    .select2-container--default .select2-selection--single {
        background-color: $smoke-color2;
        border: 1px solid $border-color !important;
        border-bottom: 1px solid $border-color !important;
        height: 48px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 46px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 0;
    }
    #update_all_subscriptions_addresses_field {
        display: none;
    }
    #billing_email_field {
        margin-bottom: 0;
    }
}
.select2-dropdown {
    background-color: $body-bg;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    background: transparent;
    border-radius: 12px;
}
.woocommerce-view-order,
.woocommerce-view-subscription {
    .woocommerce-customer-details {
        display: none;
    }
}
.woocommerce table.account-payment-methods-table,
.woocommerce table.my_account_orders  {
    border: none;
    th,
    .th,
    td {
        font-size: 13px !important;
        border: none;
        padding: 16px;
        font-weight: 500;
        color: $body-color !important;
        a {
            font-size: inherit;
            color: inherit;
            font-weight: 400;
            &:hover {
                color: $theme-color;
            }
        }
    }
    th,
    .th {
        color: $title-color !important;
        font-weight: 600;
        &.woocommerce-orders-table__cell-order-number {
            color: $body-color !important;
        }
    }
    tbody,
    tfoot {
        th,td {
            border: none;
            border-bottom: 1px solid #292524;
        }
        tr:last-child {
            th,td {
                border-bottom: none;
                @include md {
                    border-bottom: 1px solid #292524;
                }
            }
        }
    }
    thead {
        position: relative;
        z-index: 2;
        tr:first-child {
            th {
                font-weight: 600;
            }
            th,td {
                padding: 20px 16px !important;
                border: none;
                border-bottom: 1px solid #404040;
            }
        }
    }
    tbody {
        th, td {
            &:first-child {
                padding: 4px 16px;
                @include md {
                    padding: 16px;
                }
            }
        }
    }
    @include md {
        .woocommerce-orders-table__cell-order-actions {
            display: flex !important;
            justify-content: space-between;
            width: 100%;
            padding: 12px 15px;
            gap: 6px;
            a {
                display: inline-block;
            }
            &:before {
                content: 'Action: ';
                display: none !important;
                font-weight: 600;
                color: $title-color;
                vertical-align: text-bottom;
                float: left;
                line-height: 36px;
                width: 100%;
                text-align: left;
            }
        }
    }
    .woocommerce-orders-table__cell-order-total {
        font-size: 0 !important;
        @include md {
            height: 55px;
            line-height: 1.5;
        }
        &:before {
            font-size: 16px !important;
        }
        .woocommerce-Price-amount {
            font-size: 13px;
        }
    }
    .woocommerce-orders-table__cell-order-actions,
    .woocommerce-orders-table__header-order-actions {
        display: none;
    }
    .status-active,
    .status-completed {
        span {
            background-color: #14B8A6 !important;
        }
    }
    .status-pending-cancellation,
    .status-pending-payment,
    .status-processing {
        span {
            background-color: $yellow-color !important;
        }
    }
    .status-cancelled,
    .status-failed {
        span {
            background-color: $error-color !important;
        }
    }
    .status-refunded,
    .status-on-hold {
        span {
            background-color: #3B82F6 !important;
            color: $black-color !important;
        }
    }
    .woocommerce-orders-table__cell-order-status {
        span {
            color: $black-color;
            text-transform: uppercase;
            background-color: $theme-color2;
            display: inline-block;
            border-radius: 99px;
            font-weight: 600;
            padding: 5px 12px;
            white-space: nowrap;
        }
        @media (min-width: 992px) {
            width: 130px;
            padding-right: 5px;
            padding-left: 5px;
        }
        &:before {
            color: $title-color;
        }
    }
    @include md {
        th, td {
            &:before {
                font-weight: 600 !important;
            }
        }
    }

    + .button {
        padding: 18px 24px !important;
        border-radius: 12px;
    }

    &.woocommerce-orders-table--subscriptions {
        .woocommerce-orders-table__cell-order-actions,
        .woocommerce-orders-table__header-order-actions {
            display: table-cell;
        }
        .woocommerce-orders-table__cell-product-name {
            @include md {
                background-color: transparent !important;
                border-radius: 0 !important;
            }
        }
    }
}

.woocommerce form.woocommerce-EditAccountForm {
    fieldset {
        margin: 30px 0 10px 0;
        legend {
            font-size: 18px;
            font-weight: 400;
            color: $body-color;
            margin-bottom: 15px;
        }
    }
    .button {
        font-size: 16px;
        padding: 17px 20px;
        border-radius: 12px;
        background-color: $theme-color;
        color: $black-color;
        border: none;
        &:hover {
            background-color: $theme-color2;
        }
    }
    #account_display_name {
        margin-bottom: 10px;
    }
    .form-row {
        margin-bottom: 14px;
        label {
            display: none;
            .required {
                font-weight: inherit;
                color: inherit;
            }
        }
    }
    .form-row-first, 
    .form-row-last {
        width: 49% !important;
    }
}


.woocommerce .shop_table {
    &.order_details,
    &.subscription_details {
        position: relative;
        z-index: 2;
        padding: 0;
        border: none;
        margin-bottom: 0;
        @include xs {
            padding: 10px;
        }
        th, td {
            color: $body-color;
            border: none;
            border-right: none;
            border-bottom: 1px solid #292524;
            padding: 16px 0;
            font-weight: 500;
            &:last-child {
                border-right: none;
            }
            @include xs {
                padding: 16px 0;
            }
            a {
                color: inherit;
            }
        }
        tr {
            &:last-child {
                th, td {
                    border-bottom: none;
                }
            }
        }
        .btn-wrapper {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 10px;
            @include xs {
                flex-direction: column-reverse;
                align-items: flex-start;
            }
            .cancel {
                background: #292524 !important;
                color: $title-color;
            }
            .change_payment_method {
                background: transparent !important;
                color: $theme-color;
            }
            .subscription_renewal_early {
                position: relative;
                z-index: 2;
                overflow: hidden;
                background-image: $gr-bg1;
                background-color: $theme-color;
                color: $black-color;
                border: none;
                &:hover {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.order_details {
        margin-top: 25px !important;
        th, td {
            border-right: none !important;
            &:first-child {
                width: 0 !important;
                padding: 0 !important;
            }
            &[colspan="2"] {
                padding: 16px 20px !important;
            }
            &:last-child {
                width: 50%;
            }
        }
        .product-remove,
        .remove_item {
            font-size: 0;
            border-right: none;
        }
        .order_item {
            td {
                border-bottom: 1px solid #292524 !important;
            }
        }
    }
    .product-name {
        a {
            display: none;
            color: $theme-color2;
            &:hover {
                color: $body-color;
            }
        }
        .product-quantity {
            display: none;
        }
        .wc-item-meta-label {
            display: none !important;
        }
        .wc-item-meta {
            padding: 0;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            gap: 6px;
            li {
                color: $theme-color3;
                display: inline-flex;
                gap: 6px;
                align-items: center;
                &:first-child {
                    display: none;
                }
                &:nth-child(2) {
                    &:before {
                        content: '-';
                    }
                }
                p {
                    color: inherit;
                }
            }
        }
    }
    thead {
        th {
            border-bottom: 1px solid $border-color !important;
        }
    }
}

.order-table-wrap,
.woocommerce_account_subscriptions {
    background-color: $smoke-color2;
    border-radius: 16px;
    @include md {
        margin-bottom: 32px;
    }
    @include sm {
        overflow-x: auto;
        table {
            min-width: 680px;
            margin-bottom: 0 !important;
        }
    }
}


.woocommerce-page table.shop_table_responsive,
.woocommerce table.shop_table_responsive {
    thead {
        display: table-header-group !important;
    }
    tr {
        display: table-row;
        td {
            &:before {
                display: none !important;
            }
        }
        th, td {
            text-align: left !important;
            display: table-cell;
        }
    }
}

.woocommerce table.account-payment-methods-table tbody tr:last-child th, .woocommerce table.account-payment-methods-table tbody tr:last-child td, .woocommerce table.account-payment-methods-table tfoot tr:last-child th, .woocommerce table.account-payment-methods-table tfoot tr:last-child td, .woocommerce table.my_account_orders tbody tr:last-child th, .woocommerce table.my_account_orders tbody tr:last-child td, .woocommerce table.my_account_orders tfoot tr:last-child th, .woocommerce table.my_account_orders tfoot tr:last-child td {
    border-bottom: none;
}


@media (max-width: 767px) {
    .woocommerce-MyAccount-navigation {
        display: none;
    }
    .woocommerce-MyAccount-mobile-select {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
}
.woocommerce-MyAccount-mobile-select {
    option {
        &.woocommerce-MyAccount-navigation-link--edit-account,
        &.woocommerce-MyAccount-navigation-link--customer-logout,
        &.woocommerce-MyAccount-navigation-link--dashboard,
        &.woocommerce-MyAccount-navigation-link--downloads {
            display: none !important;
        }
    }
}
@media (min-width: 768px) {
    .woocommerce-MyAccount-mobile-select {
        display: none;
    }
}
.woocommerce table.woocommerce-MyAccount-orders.shop_table_responsive .woocommerce-orders-table__cell-order-actions,
.woocommerce table.woocommerce-MyAccount-orders.shop_table_responsive .woocommerce-orders-table__header-order-actions {
    display: none !important;
    @include md {
        display: none !important;
    }
}
.account-box {
    background-color: $smoke-color2;
    padding: 16px;
    border-radius: 16px;
    .box-title {
        font-size: 20px !important;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
    }
    header {
        margin-bottom: 0;
    }
    .shop_table.my_account_orders,
    .shop_table.order_details {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        tr {
            &:first-child {
                th, td {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
            th, td {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
        thead tr {
            &:first-child {
                th, td {
                    color: $title-color !important;
                }
            }
        }
    }
    address {
        margin-bottom: 0;
        hr {
            border-top: 1px solid #292524;
            opacity: 1;
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="number"],
    input[type="search"],
    select {
        --ot-border-color: #404040;
    }
}
@include lg {
    .mb-lg-32 {
        margin-bottom: 32px;
    }
    .account-box {
        &.overflow-x-auto {
            table {
                width: 560px;
            }
        }
    }
}
.woocommerce .shop_table.subscription_details {
    border-radius: 0 0 16px 16px;
}
.order-detais-row {
    h5 {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 20px;
    }
    .ot-btn {
        padding: 8px 20px;
    }
}