.pricing-buttons {
    &-wrap {
        display: flex;
        gap: 30px 60px;
        justify-content: center;
        margin-bottom: 36px;
        @include md {
            flex-wrap: wrap;
        }
    }
}
.btn-disable {
    opacity: 0.4;
    pointer-events: none;
}
.home-variations {
    
}
.info-box {
    padding: 30px 30px 20px 20px !important;
    .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 300;
        @include sm {
            font-size: 16px;
        }
    }
}
.variations-buttons {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
    button {
        position: relative;
        z-index: 2;
        border: none;
        padding: 12px 16px;
        font-size: 20px;
        font-weight: 400;
        border-radius: 8px;
        color: $title-color;
        min-width: 94px;
        // &:before {
        //     content: '';
        //     position: absolute;
        //     inset: 1px;
        //     background-color: $body-bg;
        //     border-radius: inherit;
        //     z-index: -1;
        //     transition: 0.4s ease-in-out;
        // }
        &:hover {
            color: $theme-color;
        }
        &.active {
            color: $white-color;
            box-shadow: 0px 12px 29px -10px #53BCFF;
            background-image: $theme-color;
            &:before {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.price-area {
    padding: 60px 90px 0 90px;
    background: $body-bg;
    box-shadow: 0px -66px 94px -70px rgba(83, 188, 255, 0.6);
    border-radius: 24px;
    @include xl {
        padding: 60px 0 0 0;
    }
}

.start-trading-btn {
    padding: 16px 30px;
    min-width: 280px;
    width: 100%;
    font-weight: 500;
}
.challege-price {
    font-size: 24px;
    color: $theme-color;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $border-color;
    padding-top: 15px;
    @include sm {
        font-size: 18px;
    }
    .original-price {
        margin-left: auto;
        margin-right: 7px;
    }
    // .duration {
    //     font-size: 16px;
    // }
}
.selected-variations {
    margin-bottom: 10px;
}
.woocommerce-additional-fields {
    display: none;
}
.screen-reader-text {
    display: none;
}

.update-feature {
    .box-sub {
        background-color: $theme-color3;
        color: $black-color;
        display: inline-block;
        padding: 0 12px;
        line-height: 28px;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 8px;
        margin-bottom: 20px;
    }
    .box-title {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .box-text {
        padding-right: 60px;
    }
    .box-link {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.home-right-side {
    .sec-title {
        font-size: 32px;
        text-transform: uppercase;
        @include sm {
            font-size: 28px;
        }
    }
    .sec-text {
        font-size: 20px;
        font-weight: 300;
        @include sm {
            font-size: 16px;
        }
    }
}
.profit-cards {
    margin: -8%;
    margin-top: 0;
    text-align: center;
}
.row.home-page-row {
    --bs-gutter-x: 64px;
    @include xl {
        --bs-gutter-x: 24px;
    }
    @include md {
        gap: 40px;
    }
}